{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap mb-32">

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

        <div class="w-full md:w-2/3 lg:w-1/2">

            <h1 class="text-5xl mt-4 py-6">{{ entry.title }}</h1>

            {% if entry.submissions|length %}
                {{ entry.submissions|retconAttr('p', { class: 'text-xl leading-normal pb-4' }) }}
            {% endif %}

            {% macro errorList(errors) %}
                {% if errors %}
                    {{ ul(errors, {class: 'errors text-red list-none p-0 pt-2'}) }}
                {% endif %}
            {% endmacro %}
        </div>

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

        {% set message = message ?? null %}

        <form method="post" action="" accept-charset="UTF-8" class="w-full md:w-2/3 lg:w-1/2 border-2 border-black mt-6 p-6">
            {{ csrfInput() }}
            {{ actionInput('contact-form/send') }}
            {{ redirectInput('submission/thanks?from={fromName}') }}

            {{ input('text', 'subject', 'submission form', {
                id: 'subject',
                class: 'hidden',
                required: 'required',
            }) }}
            {{ message ? _self.errorList(message.getErrors('subject')) }}

            <h3 class="text-xl pt-2 pb-2"><label for="from-name">Name</label></h3>
            {{ input('text', 'fromName', message.fromName ?? '', {
                id: 'from-name',
                autocomplete: 'name',
                class: 'w-full px-1 py-2 text-2xl border-b-2 border-grey-dark outline-none',
                required: 'required',
            }) }}
            {{ message ? _self.errorList(message.getErrors('fromName')) }}

            <h3 class="text-xl pt-6 pb-2"><label for="from-email">Contact Email</label></h3>
            {{ input('email', 'fromEmail', message.fromEmail ?? '', {
                id: 'from-email',
                autocomplete: 'email',
                class: 'w-full px-1 py-2 text-2xl border-b-2 border-grey-dark outline-none',
                required: 'required',
            }) }}
            {{ message ? _self.errorList(message.getErrors('fromEmail')) }}

            <input id="address" name="address" type="text" class="hidden">

            <h3 class="text-xl pt-6 pb-4"><label for="Type">Type of submission</label></h3>
            <input type="radio" id="type-long" name="message[Type][]" value="Long form" required> <label for="type-long" class="text-xl">Long form</label><br>
            <input type="radio" id="type-opinion" name="message[Type][]" value="Opinion piece"> <label for="type-opinion" class="text-xl">Opinion piece</label><br>
            <input type="radio" id="type-audio" name="message[Type][]" value="Audio"> <label for="type-audio" class="text-xl">Audio</label><br>
            <input type="radio" id="type-video" name="message[Type][]" value="Video"> <label for="type-video" class="text-xl">Video</label><br>
            <input type="radio" id="type-recipe" name="message[Type][]" value="Recipe"> <label for="type-recipe" class="text-xl">Recipe</label><br>
            <input type="radio" id="type-other" name="message[Type][]" value="Other"> <label for="type-other" class="text-xl">Other</label>

            <h3 class="text-xl pt-6 pb-4"><label for="Contributed">Have you contributed to Stone Soup before?</label></h3>
            <input type="radio" id="contributed-yes" name="message[Contributed][]" value="Yes" required> <label for="contributed-yes" class="text-xl">Yes</label><br>
            <input type="radio" id="contributed-no" name="message[Contributed][]" value="No"> <label for="contributed-no" class="text-xl">No</label>

            <h3 class="text-xl pt-6 pb-4"><label for="Payment">Would you be looking to get paid for your contribution?</label></h3>
            <input type="radio" id="payment-yes" name="message[Payment][]" value="Yes" required> <label for="payment-yes" class="text-xl">Yes</label><br>
            <input type="radio" id="payment-no" name="message[Payment][]" value="No"> <label for="payment-no" class="text-xl">No</label>

            <h3 class="text-xl pt-6 pb-4"><label for="Syndication">Would you want your contribution to be shared with RNZ/Stuff for potential syndication?</label></h3>
            <input type="radio" id="syndication-yes" name="message[Syndication][]" value="Yes" required> <label for="syndication-yes" class="text-xl">Yes</label><br>
            <input type="radio" id="syndication-no" name="message[Syndication][]" value="No"> <label for="syndication-no" class="text-xl">No</label>

            <h3 class="text-xl pt-6 pb-1"><label for="Media">Do you have corrosponding media for your submission?</label></h3>
            <p class="pb-4">(We will aquire this if your submission is accepted)</p>
            <input type="radio" id="media-yes" name="message[Media][]" value="Yes" required> <label for="media-yes" class="text-xl">Yes</label><br>
            <input type="radio" id="media-no" name="message[Media][]" value="No"> <label for="media-no" class="text-xl">No</label>

            <h3 class="text-xl pt-6 pb-2"><label for="message">Brief description of what you’re wanting to contribute:</label></h3>
            {{ tag('textarea', {
                text: message.message ?? '',
                id: 'message',
                name: 'message[body]',
                rows: 6,
                class: 'w-full text-xl border-2 border-grey-dark outline-none p-4',
                required: 'required',
            }) }}

            {{ message ? _self.errorList(message.getErrors('message')) }}

            <button type="submit" class="uppercase bg-black text-white tracking-wide mt-4 mb-8 py-4 px-6">Submit</button>
        </form>

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

    </section>

{% endblock %}
