{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap">

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

        <div class="w-full md:w-2/3 lg:w-1/2">

            <h1 class="text-5xl text-center mt-24 py-6">{{ entry.title }} {% if craft.app.request.getQueryParam('from')|length %}{{ craft.app.request.getQueryParam('from') }}!{% endif %}</h1>
            <p class="text-xl leading-normal text-center mb-24 pb-4">We'll get back to you about your submission as soon as possible.</p>
        </div>

        <div class="hidden md:block md:w-1/6 lg:w-1/4">
        </div>

    </section>

{% endblock %}
