{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex flex-col-reverse flex-wrap lg:flex-row border-b-2 border-black pb-12 lg:pb-32">
        <div class="w-full lg:w-1/3 justify-center px-2 md:px-6 py-8 md:py-16">
            {% for images in entry.supportImage.all() %}
                <img src="{{ images.getUrl('article') }}" class="w-full pb-4" alt="Support the soup" title="Support the soup" />
            {% endfor %}
        </div>
        <div class="w-full lg:w-2/3 px-2 md:px-6 py-4 md:py-16">

            <ul class="w-full border-black border-b-2 list-reset uppercase tracking-wide text-sm font-bold pt-0 pb-4 lg:py-4">
                {% for block in entry.supportBlocks.all() %}
                    <li class="md:inline-block pb-4 md:pb-0">
                        <a href="/about-us/#{{ block.supportTitle|replace({' ': ''}) }}" class="text-black pr-6">{{ block.supportTitle }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% for block in entry.supportBlocks.all() %}
                <section id="{{ block.supportTitle|replace({' ': ''}) }}">
                    <h3 class="text-3xl pt-12 pb-4">{{ block.supportTitle }}</h3>
                    {#{% if block.supportTitle == "Contact" %}
                        <p class="text-xl lg:text-2xl">
                            Email &mdash; <a href="mailto:hello@stonesoupsyndicate.com" class="text-black font-bold inline-block hover:underline pb-8">hello@stonesoupsyndicate.com</a>
                        </p>
                    {% endif %}#}
                    {{ block.copy|nl2br|retconAttr('p', { class: 'text-xl leading-normal pb-4' }) }}
                </section>
            {% endfor %}

        </div>
    </div>

{% endblock %}
