{% extends 'layouts/layout' %}

{% block content %}

    {% set users = craft.users({
        group: "contributors"
    }).all() %}

    <div class="px-6">
        <div class="flex flex-wrap -mx-10">
        {% for user in users %}
            {% if loop.first %}
                <div class="flex-wrap md:flex-no-wrap flex w-full px-4 pt-2 pb-6 md:pb-16">
            {% elseif loop.last %}
                <div class="flex-wrap md:hidden flex w-full border-t-2 border-b-2 border-black px-4 pt-4 pb-6 md:pb-16">
            {% else %}
                <div class="flex-wrap md:flex-no-wrap flex w-full border-t-2 border-black px-4 pt-4 pb-6 md:pb-16">
            {% endif %}
                <div class="w-full md:w-1/4 py-4">
                    <h2>{{ user.fullName }}</h2>
                </div>
                <div class="w-full md:w-1/3 py-4 pr-10">
                    {% if user.biography|length %}
                    <h4 class="pb-4">Biography</h4>
                        <p>
                            {{ user.biography|nl2br }}
                        </p>
                    {% endif %}
                </div>
                <div class="w-full md:w-1/4 py-4">
                    {% set authorPosts = craft.entries.section('articles').authorId(user).limit(null) %}
                    <h4 class="pb-3">Articles by {{ user.fullName }}</h4>
                    {% for article in authorPosts.all() %}
                        <a href="{{ article.url }}" class="block border-b border-grey hover:border-black py-1">{{ article.title }}</a>
                    {% endfor %}
                </div>
                <div class="w-full md:w-1/6 py-4 md:text-right">
                    <h4 class="pb-4">Links</h4>
                    {% if user.website|length %}
                        <a href="{{ user.website }}" class="block" target="_blank" rel="noreferrer noopener">Website</a>
                    {% endif %}
                    {% if user.instagram|length %}
                        <a href="{{ user.instagram }}" class="block" target="_blank" rel="noreferrer noopener">Instagram</a>
                    {% endif %}
                    {% if user.twitter|length %}
                        <a href="{{ user.twitter }}" class="block" target="_blank" rel="noreferrer noopener">Twiiter</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
