{% extends 'layouts/layout' %}

{% block content %}

    {# If we’re on an article category page, load up the category so we can filter entries #}
    {% set articleCat = null %}
    {% if craft.app.request.getSegment(2) %}
    {% set articleCat = craft.categories({
        group: "categories",
        slug: craft.app.request.getSegment(2)
    }).one() %}
    {% endif %}

    {% paginate craft.entries.section("articles").relatedTo(articleCat).limit(32) as pageInfo, articles %}

    {% if entry is defined ? entry.title == "home" %}
    {% else %}
        {% if entry is defined ? entry.highlightArticle|length %}
            {% for article in entry.highlightArticle.all() %}
                <article class="flex flex-col-reverse md:flex-row md:flex-wrap w-full border-black border-b-2 px-4 md:px-0 pb-16">
                    <div class="w-full md:w-1/3">

                        {% set category = article.category[0] ?? null %}
                        <h5 class="text-sm pt-5 pb-2">{{ category.title }}</h5>
                        <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold leading-none py-3"><a href="{{ article.url }}">{{ article.title }}</a></h1>

                        <div class="border-t border-b border-grey pt-1 pb-5"><p class="text-xs md:text-sm xl:text-base">Author. {{ article.author.fullName }} &mdash; {{ article.postDate|date("d/ m/ Y") }}</p></div>

                        {% if article.articleIntroduction|length %}
                            <p class="pt-2 leading-normal">
                                {{ article.articleIntroduction|nl2br }}
                            </p>
                        {% endif %}

                    </div>
                    <div class="w-full md:w-2/3">

                        {% set hero = article.articleHeroImage.one() %}
                        <a href="{{ article.url }}">
                            {% if hero|length %}
                                <img src="{{ hero.getUrl('article') }}" class="w-full max-w-md float-right md:pl-12 pt-4" alt="{{ article.title }}" title="{{ article.title }}" />
                            {% endif %}
                        </a>

                    </div>

                </article>
            {% endfor %}
        {% endif %}
    {% endif %}

    <div class="px-6">
        <section class="block flex flex-wrap -mx-6 md:-mx-10">
            {% if articles|length %}
            {% for article in articles %}

                <article class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 border-black border-b-2 px-4 pb-16">

                    {% set category = article.category[0] ?? null %}
                    {% set hero = article.articleHeroImage.one() %}
                    <a href="{{ article.url }}">
                        <h5 class="text-sm pt-5 pb-2">{{ category.title }}</h5>

                        <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold leading-none py-3">{{ article.title }}</h1>

                        <div class="border-t border-b border-grey pt-1 pb-5"><p class="text-xs md:text-sm xl:text-base">Author. {{ article.author.fullName }} &mdash; {{ article.postDate|date("d/ m/ Y") }}</p></div>

                        {% if article.articleIntroduction|length %}
                            <p class="pt-2 leading-normal pb-6">
                                {{ article.articleIntroduction|nl2br }}
                            </p>
                        {% endif %}

                        {% if hero|length %}
                            {% set mode = (hero.getWidth() > hero.getHeight()) ? "landscape" : "portrait" %}

                            {% if mode == "landscape" %}
                                <img src="{{ hero.getUrl('landscape') }}" class="w-full max-w-sm" alt="{{ article.title }}" title="{{ article.title }}" />
                            {% else %}
                                <img src="{{ hero.getUrl('portrait') }}" class="w-full max-w-sm" alt="{{ article.title }}" title="{{ article.title }}" />
                            {% endif %}
                        {% endif %}
                    </a>

                </article>

            {% endfor %}
            {% else %}
                <div class="w-full text-center">
                    <h2 class="text-4xl pt-12 pb-14"><a href="/" class="text-black">Where's the soup?</a></h2>
                </div>
            {% endif %}

        </section>

        {% if articles|length > 16 %}
            <div class="flex text-xl font-bold border-b-2 border-black -mx-6 md:-mx-10 px-4 py-4">
                <div class="w-1/2 py-2">
                    {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}" class="text-black">Previous</a>{% endif %}
                </div>
                <div class="w-1/2 text-right py-2">
                    {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}" class="text-black">Next</a>{% endif %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
