<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.typekit.net/som3pjp.css">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = 0.003 %}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

</head>
<body class="{{ entry is defined ? entry.title|lower|replace(' ', '-')|replace(',', '') : "stone-soup" }}-page font-sans">
    <header class="mx-2 sm:mx-8 w-auto pt-4 pb-4">
        {% include 'includes/header' %}
    </header>
    <main class="mx-2 sm:mx-8 w-auto">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="mx-2 sm:mx-8 w-auto">
        {% include 'includes/footer' %}
    </footer>

    {# JS #}
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}
</body>
</html>
