<nav id="menu" class="flex flex-wrap list-reset pt-2">

    <li class="hidden md:inline-block md:w-1/6 text-left uppercase font-bold tracking-wide m-auto pb-6">
        <a href="/submissions">Submissions</a>
    </li>

    <li class="w-full md:w-2/3 px-2 md:px-0 md:pt-0 pt-2 md:pt-0 pb-8 md:pb-6">
        <a href="/">
            <svg id="stone-soup" data-name="stone-soup" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 624.12 76.02"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#231f20;}</style><clipPath id="clip-path"><rect class="cls-1" width="624.12" height="76.02"/></clipPath></defs><g class="cls-2"><path class="cls-3" d="M580.88,36.85V9.45h15c8.71,0,19.27.21,19.27,14.07,0,12.7-10.56,13.33-19.37,13.33Zm-9.22,37.91h9.22V44.94h14.86c12.91,0,28.38-2.1,28.38-21.42,0-19.95-15.47-22.26-28.28-22.26H571.66ZM530.37,76c18.24,0,28.07-9,28.07-25.52V1.26h-9.32V50.5c0,11.66-8.81,17.12-18.75,17.12s-18.65-5.46-18.65-17.12V1.26h-9.33V50.5c0,16.49,9.74,25.52,28,25.52m-72.86-8.19c-8.09,0-14.44-2.94-18.44-8.19C436.3,56,434,48.19,434,38c0-9.45,1.94-17.22,5.43-21.95,3.07-4.09,9.22-7.87,18.54-7.87,8.1,0,13.84,2.83,17.53,8.29C479,21.73,481,28.45,481,38s-2,16.38-5.53,21.63c-3.69,5.46-9.43,8.19-17.94,8.19m0,8.19c21.73,0,33.92-15.54,33.92-38,0-22.16-12.19-38-33.92-38-22,0-34,15.75-34,38,0,24.46,12.3,38,34,38m-71.72,0c13.83,0,28.89-4.83,28.89-22.68,0-15.65-12.19-18.27-26.43-20.58-9.74-1.58-20.6-4.2-20.6-12.5,0-8.61,8.71-12.38,15.68-12.38,11.78,0,18.95,6.29,19.16,17.32l9.63-1.79C410.58,6,398.39,0,383.53,0c-11.68,0-25.41,5.67-25.41,20.68,0,14.07,12.3,18.06,23.47,20.79,10.75,2.63,23.46,2.42,23.46,12.6,0,10.71-9,14-19.57,14C374.41,68,366,61.53,366,49.77l-9.84,1C356.17,67.93,370,76,385.79,76M272.46,74.76h46.31V66.25H281.68V41.89H315v-8.5h-33.3V9.76h37.09V1.26H272.46Zm-68.55,0H213V32.44c0-2-.21-11.65-.51-18.69h.1c2.77,5.57,7.17,13.86,8.81,16.59l26.64,44.42h10.45V1.26H249.4V43.57c0,3,.21,12.6.52,18.69h-.11c-3-5.77-6.14-11.86-9-16.59l-27-44.41h-9.94Zm-45.6-6.93c-8.09,0-14.45-2.94-18.44-8.19C137.1,56,134.74,48.19,134.74,38c0-9.45,1.95-17.22,5.44-21.95,3.07-4.09,9.22-7.87,18.54-7.87,8.1,0,13.84,2.83,17.52,8.29,3.59,5.25,5.54,12,5.54,21.53s-1.95,16.38-5.54,21.63c-3.68,5.46-9.42,8.19-17.93,8.19m0,8.19c21.73,0,33.92-15.54,33.92-38,0-22.16-12.19-38-33.92-38-22,0-34,15.75-34,38,0,24.46,12.3,38,34,38M88.22,74.76h9.33V9.56h23.87V1.26H64.35v8.3H88.22ZM29.61,76c13.84,0,28.9-4.83,28.9-22.68,0-15.65-12.19-18.27-26.44-20.58-9.73-1.58-20.59-4.2-20.59-12.5,0-8.61,8.71-12.38,15.67-12.38,11.79,0,19,6.29,19.17,17.32L56,23.41C54.41,6,42.22,0,27.36,0,15.68,0,2,5.67,2,20.68,2,34.75,14.24,38.74,25.41,41.47c10.76,2.63,23.47,2.42,23.47,12.6,0,10.71-9,14-19.57,14C18.24,68,9.84,61.53,9.84,49.77L0,50.82C0,67.93,13.83,76,29.61,76"/></g></svg>
        </a>
    </li>

    <li class="hidden md:inline-block md:w-1/6 text-right uppercase font-bold tracking-wide m-auto pb-6">
        <a href="/about-us">About us</a>
    </li>

    {% set categories = craft.categories.group('categories') %}

    <ul class="flex w-full leading-loose md:leading-normal list-reset text-center border-t-2 border-b-2 border-black py-4">

        {# Desktop menu #}

        {% for category in categories.all() %}
            <li class="hidden md:inline-block md:flex-1 uppercase tracking-wide text-sm font-bold px-2 md:px-0">
                <a href="/category/{{ category.slug }}">{{ category.title }}</a>
            </li>
        {% endfor %}
        <li class="hidden md:inline-block md:flex-1 uppercase tracking-wide text-sm font-bold px-2 md:px-0">
            <form action="{{ url('search/results') }}" class="flex">
                <div class="w-3/4">
                    <input type="search" name="q" aria-label="Search" placeholder="Search" class="w-full text-center uppercase tracking-wide rounded-none  text-sm font-bold placeholder-black outline-none">
                </div>
                <div class="w-1/4">
                    <button type="submit" class="uppercase tracking-wide text-sm font-bold">Go</button>
                </div>
            </form>
        </li>

        {# Mobile menu #}

        <li id="menuTarget" @click="showMenu" class="md:hidden inline-block flex-1 uppercase cursor-pointer tracking-wide text-sm font-bold px-2">
            <svg width="40px" height="18px" viewBox="0 0 40 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="menuIcon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="strike-1" fill="#222" x="0" y="4" width="40" height="2"></rect>
                    <rect id="strike-2" fill="#222" x="0" y="16" width="40" height="2"></rect>
                </g>
            </svg>
        </li>
        <li v-show="navVisible" class="absolute bg-white cursor-pointer z-10 w-1/3 px-2" @click="hideMenu">
            <svg width="18px" height="17px" viewBox="0 0 18 17" class="mt-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="menuCross" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                    <line x1="2.28248558" y1="1.78248558" x2="15.7175144" y2="15.2175144" id="strike-3" stroke="#222222" stroke-width="2"></line>
                    <line x1="2.28248558" y1="15.2175144" x2="15.7175144" y2="1.78248558" id="strike-4" stroke="#222222" stroke-width="2"></line>
                </g>
            </svg>
        </li>
        <li class="md:hidden inline-block flex-1 uppercase tracking-wide text-sm font-bold px-2">
            <a href="/about-us">About us</a>
        </li>
        <li class="md:hidden inline-block flex-1 uppercase tracking-wide text-sm font-bold px-2">
            <a href="/submissions">Submissions</a>
        </li>
    </ul>

    <nav v-show="navVisible" class="w-full">
        <ul class="w-full border-b-2 border-black leading-loose list-reset text-left px-2 py-8">
            {% for category in categories.all() %}
                <li class="uppercase tracking-wide text-sm font-bold px-2 py-2">
                    <a href="/category/{{ category.slug }}">{{ category.title }}</a>
                </li>
            {% endfor %}
            <li class="uppercase tracking-wide text-sm font-bold px-2 py-2">
                <form action="{{ url('search/results') }}" class="flex">
                    <div class="w-3/4">
                        <input type="search" name="q" aria-label="Search" placeholder="Search" class="w-full bg-white text-left uppercase tracking-wide appearance-none rounded-none text-sm font-bold border-b border-grey placeholder-black outline-none px-0 pb-2">
                    </div>
                    <div class="w-1/4">
                        <button type="submit" class="uppercase tracking-wide text-black text-sm font-bold pl-4">Go</button>
                    </div>
                </form>
            </li>
        </ul>
    </nav>

</nav>

<script>
let menu = new Vue({
  el: '#menu',
  data: {
    navVisible: false
  },
  methods: {
    showMenu: function() {
      this.navVisible = true;
    },
    hideMenu: function() {
      this.navVisible = false;
    }
  }
});
</script>
