{% extends 'layouts/layout' %}

{% block content %}

    <div class="px-6">

        <div class="pb-12 -mx-6">

            {% set searchQuery = craft.app.request.getParam('q') %}
            {% set entries = craft.entries()
            .search(searchQuery)
            .orderBy('score')
            .all() %}

            {% if entries|length %}
            <h2 class="text-5xl leading-tight pt-12 pr-20">Search &mdash; {{ entries|length }} results:</h2>

        </div>

        <section class="block flex flex-wrap -mx-6 md:-mx-10">

            {% for entry in entries %}

                {% if entry.type == "articles" %}

                    {% set category = entry.category[0] ?? null %}
                    {% set hero = entry.articleHeroImage.one() %}

                    <article class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 border-black border-b-2 px-4 pb-16">

                        <a href="{{ entry.url }}">
                            <h5 class="text-sm pt-5 pb-2">{{ category.title }}</h5>

                            <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold leading-none py-3">{{ entry.title }}</h1>

                            <div class="border-t border-b border-grey pt-1 pb-5"><p class="text-xs md:text-sm xl:text-base">Author. {{ entry.author.fullName }} &mdash; {{ entry.postDate|date("d/ m/ Y") }}</p></div>

                            {% if entry.articleIntroduction|length %}
                                <p class="pt-2 leading-normal pb-6">
                                    {{ entry.articleIntroduction|nl2br }}
                                </p>
                            {% endif %}

                            {% if hero|length %}
                                {% set mode = (hero.getWidth() > hero.getHeight()) ? "landscape" : "portrait" %}

                                {% if mode == "landscape" %}
                                    <img src="{{ hero.getUrl('landscape') }}" class="w-full max-w-sm" alt="{{ entry.title }}" title="{{ entry.title }}" />
                                {% else %}
                                    <img src="{{ hero.getUrl('portrait') }}" class="w-full max-w-sm" alt="{{ entry.title }}" title="{{ entry.title }}" />
                                {% endif %}
                            {% endif %}

                        </a>

                    </article>

                {% else %}

                    <article class="w-full sm:w-1/2 md:w-1/3 xl:w-1/4 border-black border-b-2 px-4 pb-12">

                        <a href="{{ entry.url }}">
                            <h5 class="text-sm pt-5 pb-2">Page</h5>
                            <h1 class="text-2xl md:text-3xl xl:text-4xl font-bold py-3">{{ entry.title }}</h1>
                        </a>

                    </article>

                {% endif %}

            {% endfor %}

        {% else %}

            <h2 class="text-5xl leading-tight uppercase pt-12 pr-20 max-w-lg">Your search for “{{ searchQuery }}” didn’t return any results.</h2>
        </div>

        {% endif %}

        </section>
    </div>

{% endblock %}
