{% extends 'layouts/layout' %}

{% block content %}

    <div class="px-6">
        <section class="flex flex-wrap -mx-6 md:-mx-10">

                <article class="flex w-full border-b-2 border-black pb-20 px-4">

                    <div class="hidden md:block md:w-1/4">
                    </div>
                    <div class="article w-full md:w-1/2">
                    {% set category = entry.category[0] ?? null %}
                    {% set hero = entry.articleHeroImage.one() %}

                    <h2 class="text-sm pt-5 pb-2">Category &mdash; {{ category.title }}</h2>
                    {% if hero|length %}
                        <img src="{{ hero.getUrl('article') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                    {% endif %}

                    <h1 class="text-4xl py-2">{{ entry.title }}</h1>

                    <span class="author w-full inline-block border-t border-b border-grey pt-1 pb-5">Author &mdash; {{ entry.author.fullName }}</span>
                    {% if entry.articleIntroduction|length %}
                        <p class="text-xl leading-loose pt-6 pb-5">
                            {{ entry.articleIntroduction|nl2br }}
                        </p>
                    {% else %}
                        <div class="pt-6"></div>
                    {% endif %}

                    {% for content in entry.articleContent.all() %}

                        {% if content.type == "paragraph" %}

                            <div class="text-xl leading-loose pb-5">
                                {{ content.articleParagraph|nl2br|retconAttr('a', { class: 'underline hover:no-underline', target: '_blank' }) }}
                            </div>

                        {% elseif content.type == "pullQuote" %}

                            <div class="text-5xl leading-normal pt-4 pb-8">
                                <h4>{{ content.pullQuote|nl2br }}</h4>
                            </div>

                        {% elseif content.type == "gallery"  %}

                            {% set gallery = content.gallery %}

                            {% for image in gallery.all() %}
                                {% set image = image.image.one() %}
                                <img src="{{ image.getUrl('article') }}" class="pb-4" alt="{{ entry.title }}" title="{{ entry.title }}" />
                            {% endfor %}

                        {% elseif content.type == "fullWidthImage" %}

                            {% set image = content.image.one() %}

                            <img src="{{ image.getUrl('article') }}" class="pb-4" alt="{{ entry.title }}" title="{{ entry.title }}" />

                        {% elseif content.type == "video" %}

                            {% set video = content.video.one() %}
                            {% set embeddedAsset = craft.embeddedAssets.get(video) %}

                            <div class="video w-full mb-8">
                                {{ embeddedAsset ? embeddedAsset.html }}
                            </div>

                        {% elseif content.type == "soundcloud" %}

                            <div class="pb-6">
                                {{ content.iframe|raw }}
                            </div>

                        {% endif %}

                    {% endfor %}
                    </div>
                    <div class="hidden md:block md:w-1/4">
                    </div>

                </article>

                {% set params = craft.entries.section("articles") %}
                {% set prevEntry = entry.getPrev(params) %}
                {% set nextEntry = entry.getNext(params) %}

                <div class="flex flex-wrap w-full text-xl font-bold border-b-2 border-black px-4 py-4">
                    <div class="w-full md:w-1/2 text-center md:text-left py-2">
                        {% if prevEntry %}<a href="{{ prevEntry.url }}">{{ prevEntry.title }}</a>{% else %}<a href="/" class="text-grey">Home</a>{% endif %}
                    </div>
                    <div class="w-full md:w-1/2 text-center md:text-right py-2">
                        {% if nextEntry %}<a href="{{ nextEntry.url }}">{{ nextEntry.title }}</a>{% else %}<a href="/" class="text-grey">Home</a>{% endif %}
                    </div>
                </div>

        </section>
    </div>

{% endblock %}
