{% extends 'layouts/layout' %}

{% block content %}

    <h1 class="font-serif tracking-wide text-5xl text-center pt-20">404</h1>
    <h2 class="text-center pb-20">Page not found</h2>

{% endblock %}
