{% header "Content-Type: application/xml" %}
<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <atom:link href="{{ craft.app.request.absoluteUrl }}" rel="self" type="application/rss+xml" />
        <description>{{ seomatic.meta.seoDescription }}</description>
        <language>en-us</language>
        <pubDate>{{ now|rss }}</pubDate>
        <lastBuildDate>{{ now|rss }}</lastBuildDate>

        {% for entry in craft.entries.section('articles').all() %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate|rss }}</pubDate>
                <author>{{ entry.author }}</author>
                <guid>{{ entry.url }}</guid>
                {% set hero = entry.articleHeroImage.one() %}
                {% if hero|length %}
                    <image>
                        <url>{{ siteUrl|slice(0,-1) }}{{ hero.getUrl('article') }}</url>
                        <title>{{ entry.title }}</title>
                        <link>{{ entry.url }}</link>
                    </image>
                    <img src="{{ hero.getUrl('article') }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {% endif %}
                <description><![CDATA[
                    {{ entry.articleIntroduction|nl2br }}
                ]]></description>
            </item>
        {% endfor %}
    </channel>
</rss>
